<div class="container">
    <div class="cards">
        <div class="card-new">
          <br><h2>Ajouter votre héros</h2><br>
            <%= render "form", hero: @hero %>
            </div>
        </div>
    </div>
