<div style="margin-top: 80px;">
<div class="container-new">
    <div class="cards">
        <div class="card-new">
          <br><h2 class="titre-formulaire">Ajouter votre héros</h2><br>
            <%= render "form", hero: @hero %>
            </div>
        </div>
    </div>
  </div>
