<!-- Find me in app/views/heros/show.html.erb -->
<div class="container py-5">
  <div class="row">
    <div class="bg-white rounded text-center">
      <h2 class="fw-bold">Buenvenuti <%= @hero.name %></h1>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="row">
    <div class="col-sm-6 bg-white rounded text-center">
      <h2>[ photo ]</h2>
    </div>
    <div class="col-sm-6 bg-white rounded text-center">
      <h2 class="fw-bold">Louez votre super hero</h3>
      <p>Prix par jour: <%= @hero.price_per_day %>CHF</p>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="row">
    <div class="col-sm-6 bg-white rounded text-center">
      <h5 class="fw-bold"><%= @hero.description %></h5>
      <p>Prix par jour: <%= @hero.price_per_day %>CHF</p>
    </div>
    <div class="col-sm-6 bg-white rounded text-center">
      <h3 class="fw-bold">Où est ton super hero ?</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12617.299263255424!2d-122.40772276869687!3d37.783892450848045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858094c8df1279%3A0x69f30715b5e7e35!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1645086254569!5m2!1sen!2sus" width="500" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
