<div class="container py-5">
<div class="d-flex align-items-center justify-content-between mb-3">
      <%= cl_image_tag "iron_man", alt: "iron_man", width: 400, height: 300, crop: :fill %>
    </div>
</div>
