@import url('https://fonts.cdnfonts.com/css/international-super-hero');

.banner {
  position: relative;
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/207/513/non_2x/pop-art-retro-comic-panel-bakcground-free-vector.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'International Super Hero', sans-serif;
  height: 400px;
  padding: 150px 0;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: 3px solid black;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: rgb(0, 1, 1) 2px 0px 0px, rgb(0, 1, 1) 1.75517px 0.958851px 0px, rgb(0, 1, 1) 1.0806px 1.68294px 0px, rgb(0, 1, 1) 0.141474px 1.99499px 0px, rgb(0, 1, 1) -0.832294px 1.81859px 0px, rgb(0, 1, 1) -1.60229px 1.19694px 0px, rgb(0, 1, 1) -1.97998px 0.28224px 0px, rgb(0, 1, 1) -1.87291px -0.701566px 0px, rgb(0, 1, 1) -1.30729px -1.5136px 0px, rgb(0, 1, 1) -0.421592px -1.95506px 0px, rgb(0, 1, 1) 0.567324px -1.91785px 0px, rgb(0, 1, 1) 1.41734px -1.41108px 0px, rgb(0, 1, 1) 1.92034px -0.558831px 0px;
  font-size: 48px;
  font-weight: bold;
  font-family: 'International Super Hero', sans-serif;
}
