.banner {
  position: relative;
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/207/513/non_2x/pop-art-retro-comic-panel-bakcground-free-vector.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  // background: linear-gradient(to left, rgba(60, 151, 255, 0),rgba(124, 189, 227, 1), rgba(124, 189, 227, 1));
  padding: 150px 0;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  // &::before{
  //   position: absolute;
  //   content: "";
  //   width: 25%;
  //   height: 100%;
  //   background: linear-gradient(to left, rgba(60, 151, 255, 0),rgba(124, 189, 227, 1), rgba(124, 189, 227, 1));
  //   top: 0;
  //   right: 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}
