.button {
  background-color: #F48B07;
  color: white;
  position: relative;
  border-radius: 6px;
  margin-left: 8px;
  margin-bottom: 6px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  padding: 4px 0;
  &:hover {
    background-color: #DD1D5E;
    color: white;
  }
}
.button-banner {
  background-color: #F48B07;
  color: white;
  position: relative;
  border-radius: 6px;
  margin-left: 0;
  margin-bottom: 16px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  padding: 4px 0;
  &:hover {
    background-color: #DD1D5E;
    color: white;
  }
}
.formulaire-button {
  background-color: #9F001B;
  color: white;
  position: relative;
  border-radius: 6px;
  margin-left: 110px;
  margin-bottom: 12px;
  margin-top: 12px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  padding: 4px 0;
  display: flex;
  justify-content: center;
}
.formulaire {
  padding-top: 16px;
}
