.button {
  background-color: #9F001B;
  color: white;
  position: relative;
  border-radius: 6px;
  margin-left: 8px;
  margin-bottom: 6px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  padding: 4px 0;
}
.button-banner {
  background-color: #9F001B;
  color: white;
  position: relative;
  border-radius: 6px;
  margin-left: 0;
  margin-bottom: 16px;
  width: 110px;
  text-decoration: none;
  text-align: center;
  padding: 4px 0;
}
.result {
  font-size: 1.5rem;
  margin: 0;
  padding-left: 22px;
  padding-top: 16px;
}
.formulaire {
  padding-top: 16px;
}
