.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin: .5rem 0 1rem 0;
  margin-top: 35px;
  z-index: 1;
}
.start {
  justify-content: start;
}
.card {
  grid-gap: 16px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 31%;
  min-width: 250px;
  padding: 0;
  background-color: #96D8EC;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  background-image: url("app/assets/images/cloud-cards.png");
}
.card-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px;
  border-radius: 0 0 8px 8px;
  padding-right: 16px;
  border: 0;
  background-color: #96D8EC;

}
.card-new {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  width: 45%;
  font-size: 1.2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card-show {
  display: flex;
  padding-top: 16px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  width: 100%;
  font-size: 1.2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 98%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 98%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 48% 48%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 32% 32% 32%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 32% 32% 32%;
  }
}
