.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 16px;
  margin: .5rem 0 1rem 0;
  margin-top: 35px;
  z-index: 1;
}
.cards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 42px;
  margin: .5rem 0 1rem 0;
  // z-index: 1;
}
.container-new {
  display: flex;
  justify-content: center;
}
.container-show {
  display: flex;
  justify-content: center;
}
.start {
  justify-content: start;
}
.card {
  grid-gap: 16px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 31%;
  min-width: 250px;
  padding: 0;
  background-color: #96D8EC;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  cursor: pointer;
  background-image: url("app/assets/images/cloud-cards.png");
  position: relative;
  transition: transform 0.3s ease;
  margin-top: 12px;
  margin-bottom: 12px;

  a {
    text-decoration: none;
  }
}


.card-product {
  overflow: hidden;
  height: 258px;
  width: 95%;
  background: white;
  display: flex;
  align-items: center;
  border: 3px solid black;
  box-shadow: 3px 3px 0px 0px #000000;
  background-color: #96D8EC;
  font-family: 'International Super Hero', sans-serif;
  margin-bottom: 18px;

  img {
    max-width: 320px;
    height: 100%;
    object-fit: center;
    border-right: 3px solid black;
  };

  h5 {
    font-family: 'International Super Hero', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(0, 1, 1) 2px 0px 0px, rgb(0, 1, 1) 1.75517px 0.958851px 0px, rgb(0, 1, 1) 1.0806px 1.68294px 0px, rgb(0, 1, 1) 0.141474px 1.99499px 0px, rgb(0, 1, 1) -0.832294px 1.81859px 0px, rgb(0, 1, 1) -1.60229px 1.19694px 0px, rgb(0, 1, 1) -1.97998px 0.28224px 0px, rgb(0, 1, 1) -1.87291px -0.701566px 0px, rgb(0, 1, 1) -1.30729px -1.5136px 0px, rgb(0, 1, 1) -0.421592px -1.95506px 0px, rgb(0, 1, 1) 0.567324px -1.91785px 0px, rgb(0, 1, 1) 1.41734px -1.41108px 0px, rgb(0, 1, 1) 1.92034px -0.558831px 0px;
  }

  p {
    font-size: 30px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .dates {
    font-size: 25px;
    font-family: 'International Super Hero Light', sans-serif;
    color: black;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px #000000;
    background-color: #FAD858;
    width: 428px;
    position: absolute;
    right: -2px;
    top: -34px;
    padding: 4px;
    opacity: 1;
  }

  .price {
    width: 280px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    background-color: white;
    padding: 4px;
    box-shadow: 3px 3px 0px 0px #000000;
    text-align: center;
    align-self: flex-end;
    opacity: 1;
  }

  .card-product-infos {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}


.card-show-left {
  gap: 16px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 40%;
  min-width: 250px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position: relative;
  margin-left: 0;
  padding: 16px;
  margin-right: 16px;
}
.card-show-right {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  background-color: #F9EFE8;
  position: relative;
  margin-left: 0;
}
.card-show-right-top {
  border: 3px solid black;
  background-color: white;
  height: 70%;
  margin-bottom: 8px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card-show-right-bottom {
  border: 3px solid black;
  background-color: white;
  height: 70%;
  margin-top: 8px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card:hover {
  transform: scale(1.05);
}
.card-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px;
  padding-right: 16px;
  background-color: #96D8EC;
  border: 3px solid black;
  padding-bottom: 16px;
}
.card-footer-show {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-right: 16px;
  border: 0;
  background-color: #96D8EC;
  width: 100%;
  border: 3px solid black;

}
.card-new {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 3px solid black;
  background-color: #96D8EC;
  color: #333;
  width: 550px;
  font-size: 1.2rem;
  font-family: 'International Super Hero', sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-dashboard {
  width: 100%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .dashboard-top {
    margin: 18px;
    width: 96%;
    border: 3px solid black;
    background-color: #96D8EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px #000000;
  }

  .welcome {
    font-family: 'International Super Hero', sans-serif;
    font-size: 78px;
    color: white;
    text-shadow: rgb(0, 1, 1) 2px 0px 0px, rgb(0, 1, 1) 1.75517px 0.958851px 0px, rgb(0, 1, 1) 1.0806px 1.68294px 0px, rgb(0, 1, 1) 0.141474px 1.99499px 0px, rgb(0, 1, 1) -0.832294px 1.81859px 0px, rgb(0, 1, 1) -1.60229px 1.19694px 0px, rgb(0, 1, 1) -1.97998px 0.28224px 0px, rgb(0, 1, 1) -1.87291px -0.701566px 0px, rgb(0, 1, 1) -1.30729px -1.5136px 0px, rgb(0, 1, 1) -0.421592px -1.95506px 0px, rgb(0, 1, 1) 0.567324px -1.91785px 0px, rgb(0, 1, 1) 1.41734px -1.41108px 0px, rgb(0, 1, 1) 1.92034px -0.558831px 0px;
  }

  .litle-case {
    font-size: 25px;
    font-family: 'International Super Hero Light', sans-serif;
    color: black;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px #000000;
    background-color: #FAD858;
    width: 250px;
    position: absolute;
    right: 26px;
    top: 18px;
    padding: 4px;
  }
}


.list-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 18px;
  border: 3px solid black;
  background-color: white;

  h3 {
    font-family: 'International Super Hero', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(0, 1, 1) 2px 0px 0px, rgb(0, 1, 1) 1.75517px 0.958851px 0px, rgb(0, 1, 1) 1.0806px 1.68294px 0px, rgb(0, 1, 1) 0.141474px 1.99499px 0px, rgb(0, 1, 1) -0.832294px 1.81859px 0px, rgb(0, 1, 1) -1.60229px 1.19694px 0px, rgb(0, 1, 1) -1.97998px 0.28224px 0px, rgb(0, 1, 1) -1.87291px -0.701566px 0px, rgb(0, 1, 1) -1.30729px -1.5136px 0px, rgb(0, 1, 1) -0.421592px -1.95506px 0px, rgb(0, 1, 1) 0.567324px -1.91785px 0px, rgb(0, 1, 1) 1.41734px -1.41108px 0px, rgb(0, 1, 1) 1.92034px -0.558831px 0px;

    margin: 18px;
    width: 96%;
    border: 3px solid black;
    background-color: #F04D63;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px #000000;
  }
}

.list-heros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 18px;
  border: 3px solid black;
  background-color: white;

  .card-product {
    background-color: #C6FF9A;
  }

  h3 {
    font-family: 'International Super Hero', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(0, 1, 1) 2px 0px 0px, rgb(0, 1, 1) 1.75517px 0.958851px 0px, rgb(0, 1, 1) 1.0806px 1.68294px 0px, rgb(0, 1, 1) 0.141474px 1.99499px 0px, rgb(0, 1, 1) -0.832294px 1.81859px 0px, rgb(0, 1, 1) -1.60229px 1.19694px 0px, rgb(0, 1, 1) -1.97998px 0.28224px 0px, rgb(0, 1, 1) -1.87291px -0.701566px 0px, rgb(0, 1, 1) -1.30729px -1.5136px 0px, rgb(0, 1, 1) -0.421592px -1.95506px 0px, rgb(0, 1, 1) 0.567324px -1.91785px 0px, rgb(0, 1, 1) 1.41734px -1.41108px 0px, rgb(0, 1, 1) 1.92034px -0.558831px 0px;

    margin: 18px;
    width: 96%;
    border: 3px solid black;
    background-color: #F04D63;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px #000000;
  }

}

  .visible {
    display: flex;
  }
  .unvisible {
    display: none;
  }


// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 98%;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 98%;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 48% 48%;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 32% 32% 32%;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 32% 32% 32%;
//   }
// }
