.heroes-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  margin: 8px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin: .5rem 0 1rem 0;
  border-radius: 16px;


}

.card {
  grid-gap: 16px;
  display: flex;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

}

.button {
  background-color: #9F001B;
  color: white;
  border-radius: 5px;
  padding-left: 16px;
  width: 100px;
}

.cards :first-child {
  align-self: center;
}

.formulaire {
  padding-top: 16px;
}

.movie-image{
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: 16px 16px 0 0;
  // width: 100%;
  // height: 220px;
  // object-fit: cover;
  object-position: center;

}

.h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-left: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
