.movie-image {
  width: 100%;
  height:230px;
  object-fit: cover;
  border-bottom: #D2D1D1 1px solid;
  object-position: top;
  border-bottom: 3px solid black;
}
.background {
  background-color: #F9EFE8;
}
.cloud-cards {
  background-image: asset-url("cloud-cards.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  max-width: 370px;
  height: 300px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.rectangle-show {
  background-image: asset-url("rectangle-show.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  width: 100%;
  height: 300px;
  padding-top: 24px;
}

.avatar-dashboard {
  display: flex;

    .rounded-circle {
    top: 30px;
    left: 35px;
    position: center;
    margin: 20px;
    border: 4px solid black;
    box-shadow: 5px 5px 4px 0px #777777;
  }
}
