@import url('https://fonts.cdnfonts.com/css/international-super-hero');

.h2 {
  font-size: 12px;
  margin: 0;
  padding-left: 16px;
  padding-top: 8px;
  font-family: 'International Super Hero', sans-serif;
}
.titre-index {
  font-family: 'International Super Hero', sans-serif;
  font-size: 1.7rem;
  background-color: #FAD858;
  width: 65.5%;
  border: 3px solid black;
  box-shadow: 3px 3px 0px 0px #000000;
  padding-left: 16px;
  margin-bottom: 24px;
  padding: 8px 8px 8px 16px;
}
.titre-formulaire {
  font-family: 'International Super Hero', sans-serif;
  font-size: 2.2rem;
  width: 65.5%;
  padding-left: 16px;
  padding: 8px 8px 0px 16px;
  text-align: center;
}
.titre-formulaire-show {
  font-family: 'International Super Hero', sans-serif;
  font-size: 2.2rem;
  width: 100%;
  padding-left: 16px;
  padding: 8px 8px 0px 16px;
  text-align: center;
}
.text {
  color: #333;
  height: 10%;
  font-family: 'International Super Hero Light', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 18px;
  font-size: 18px;
  text-align: center;
}
.text-show {
  color: #333;
  height: 10%;
  font-family: 'International Super Hero Light', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 12px;
  font-size: 18px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 8px;
}

.result {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 16px;
  font-family: 'International Super Hero Light', sans-serif;
}
.text-start {
  padding-left: 16px;
  padding-top: 8px;
  font-family: 'International Super Hero Light', sans-serif;
}

.text-show {
  text-align: justify;
  font-family: 'International Super Hero Light', sans-serif;
}
.formulaire {
  padding-top: 16px;
}
.input-banner {
  width: 230px;
  height: 50px;
  border: 3px solid black;
  box-shadow: 3px 3px 0px 0px #000000;
  padding-left: 16px;
  margin-right: 16px;
  font-size: 1.4rem;
}

// .text-dashboard {
//   font-family: 'International Super Hero Light', sans-serif;
//   font-size: 28px;
//   padding-left: 16px;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   margin: 18px;
//   text-align: center;
//   border: 3px solid black;
//   border-radius: 88px 88px 88px 103px / 75px 75px 75px 73px;
//   box-shadow: 4px 4px 3px 0px #777777;
// }
