.h2 {
  font-size: 1.6rem;
  margin: 0;
  padding-left: 16px;
  padding-top: 8px;
}
.text {
  color: #333;
  height: 40%;
}
.result {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 16px;
}
.text-start {
  padding-left: 16px;
  padding-top: 8px;
}

.text-show {
  text-align: justify;
}
